{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}


<!-- Start Resume Area -->
<main class="rn-resume-area rn-section-gap">
<div id="particles-js"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="section-title text-center">
					<h2 class="title">A Propos de moi</h2>
				</div>
			</div>
		</div>
		<div class="row mt--45">
			<div class="col-lg-12">
				<ul data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true" class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="experience-tab" data-bs-toggle="tab" href="#experience" role="tab" aria-controls="experience" aria-selected="false">Expérience</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " id="professional-tab" data-bs-toggle="tab" href="#professional" role="tab" aria-controls="professional" aria-selected="false">Compétences professionnelles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="education-tab" data-bs-toggle="tab" href="#education" role="tab" aria-controls="education" aria-selected="true">Formation</a>
					</li>
				</ul>

				<!-- Start Tab Content Wrapper  -->
				<div
					data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" data-aos-once="true" class="rn-nav-content tab-content" id="myTabContents">

					<!-- Start Single Tab  -->
					<div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
						<div class="personal-experience-inner mt--40">
							<div
								class="row">
								<!-- Start Skill List Area  -->
								<div class="col-lg-12 col-md-12 col-12">
									<div class="content">
										<span class="subtitle">2019 - 2026</span>
										<h3 class="maintitle">Formation</h3>
										<div
											class="experience-list">

											<!-- Start Single List  -->
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Formation Développeur Web / Web Mobile</h4>
															<span>Centre Européen de Formation (2025 - 2026)</span>
														</div>
													</div>
													<p class="description">Architecture MVC, PHP, MySQL, Sécurité applicative, conception de base de données.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Formation complémentaires PHP / MySQL / JavaScript</h4>
															<span>Udemy (2019 - 2024)</span>
														</div>
													</div>
													<p class="description">
                                                        Approfondissement backend, programmation orientée objet et développement web.
                                                    </p>
												</div>
											</div>
											<!-- End Single List  -->
										</div>
									</div>
								</div>
								<!-- End Skill List Area  -->
							</div>
						</div>
					</div>
					<!-- End Single Tab  -->

					<!-- Start Single Tab  -->
					<div class="tab-pane fade " id="professional" role="tabpanel" aria-labelledby="professional-tab">
						<div class="personal-experience-inner mt--40">
							<div
								class="row row--40">

								<!-- Start Single Progressbar  -->
								{% for category in categories %}
								<div class="col-lg-6 col-md-6 col-12">
									<div class="progress-wrapper">
										<div class="content">
											<h4 class="maintitle">{{ category.title }}</h4>
											<!-- Start Single Progress Charts -->
											{% for skill in category.skills %}
											<div class="progress-charts">
												<h6 class="heading heading-h6">{{ skill.title }}</h6>
												<div class="progress">
													<div 
														class="progress-bar wow fadeInLeft" 
														data-wow-duration="0.5s" 
														data-wow-delay=".3s" 
														role="progressbar" 
														style="width: {{ skill.percentage }}%" 
														aria-valuenow="{{ skill.percentage }}" 
														aria-valuemin="0" 
														aria-valuemax="100">
														<span class="percent-label">{{ skill.percentage }} %</span>
													</div>
												</div>
											</div>
											{% endfor %}
											<!-- End Single Progress Charts -->
										</div>
									</div>
								</div>
								{% endfor %}
								<!-- End Single Progressbar  -->

							</div>
						</div>
					</div>
					<!-- End Single Tab  -->

					<!-- Start Single Tab  -->
                    <div class="tab-pane show active fade single-tab-area" id="experience" role="tabpanel" aria-labelledby="experience-tab">

						<div class="personal-experience-inner mt--40">
							<div
								class="row">

								<!-- Start Skill List Area 2nd  -->
								<div class="col-lg-12 col-md-12 col-12 mt_md--60 mt_sm--60">
									<div class="content">
										<span class="subtitle">2018 - Aujourd'hui</span>
										<h3 class="maintitle">Expérience professionnelle</h3>
										<div
											class="experience-list">

											<!-- Start Single List  -->
											{% for experience in experiences %}
											<div class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>{{ experience.title }}</h4>
															<span>{{ experience.dateDebut|date('Y') }} - {{ experience.dateFin ? experience.dateFin|date('Y') : 'Aujourd\'hui' }}</span>
														</div>
													</div>
													<p class="description">{{ experience.description }}</p>
												</div>
											</div>
											{% endfor %}
											<!-- End Single List  -->
										</div>
									</div>
								</div>
								<!-- End Skill List Area  -->
							</div>
						</div>
					</div>
					<!-- End Single Tab  -->

					<!-- Start Single Tab  -->
					<div class="tab-pane fade" id="interview" role="tabpanel" aria-labelledby="interview-tab">
						<div class="personal-experience-inner mt--40">
							<div
								class="row">
								<!-- Start Skill List Area  -->
								<div class="col-lg-6 col-md-12 col-12">
									<div class="content">
										<span class="subtitle">2007 - 2010</span>
										<h4 class="maintitle">Education Quality</h4>
										<div
											class="experience-list">

											<!-- Start Single List  -->
											<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300" data-aos-once="true" class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Personal Portfolio April Fools</h4>
															<span>University of DVI (1997 - 2001)</span>
														</div>
														<div class="date-of-time">
															<span>4.30/5</span>
														</div>
													</div>
													<p class="description">The education should be very interactual. Ut tincidunt est ac dolor aliquam sodales.
														                                                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
														                                                                mauris hendrerit ante.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>
																Examples Of Personal Portfolio</h4>
															<span>College of Studies (2000 - 2002)</span>
														</div>
														<div class="date-of-time">
															<span>4.50/5</span>
														</div>
													</div>
													<p class="description">Maecenas finibus nec sem ut
														                                                                imperdiet. Ut tincidunt est ac dolor aliquam sodales.
														                                                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
														                                                                mauris hendrerit ante.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="700" data-aos-once="true" class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Tips For Personal Portfolio</h4>
															<span>University of Studies (1997 - 2001)</span>
														</div>
														<div class="date-of-time">
															<span>4.80/5</span>
														</div>
													</div>
													<p class="description">
														If you are going to use a passage. Ut tincidunt est ac dolor aliquam sodales.
														                                                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
														                                                                mauris hendrerit ante.</p>
												</div>
											</div>
											<!-- End Single List  -->

										</div>
									</div>
								</div>
								<!-- End Skill List Area  -->

								<!-- Start Skill List Area 2nd  -->
								<div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
									<div class="content">
										<span class="subtitle">2007 - 2010</span>
										<h4 class="maintitle">Job Experience</h4>
										<div
											class="experience-list">

											<!-- Start Single List  -->
											<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="500" data-aos-once="true" class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Diploma in Web Development</h4>
															<span>BSE In CSE (2004 - 2008)</span>
														</div>
														<div class="date-of-time">
															<span>4.70/5</span>
														</div>
													</div>
													<p class="description">Contrary to popular belief. Ut tincidunt est ac dolor aliquam sodales.
														                                                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
														                                                                mauris hendrerit ante.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="700" data-aos-once="true" class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>The Personal Portfolio Mystery</h4>
															<span>Job at Rainbow-Themes (2008 - 2016)</span>
														</div>
														<div class="date-of-time">
															<span>4.95/5</span>
														</div>
													</div>
													<p class="description">Generate Lorem Ipsum which looks. Ut tincidunt est ac dolor aliquam sodales.
														                                                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
														                                                                mauris hendrerit ante.</p>
												</div>
											</div>
											<!-- End Single List  -->

											<!-- Start Single List  -->
											<div data-aos="fade-up" data-aos-duration="500" data-aos-delay="900" data-aos-once="true" class="resume-single-list">
												<div class="inner">
													<div class="heading">
														<div class="title">
															<h4>Diploma in Computer Science</h4>
															<span>Works at Plugin Development (2016 - 2020)</span>
														</div>
														<div class="date-of-time">
															<span>5.00/5</span>
														</div>
													</div>
													<p class="description">Maecenas finibus nec sem ut
														                                                                imperdiet. Ut tincidunt est ac dolor aliquam sodales.
														                                                                Phasellus sed mauris hendrerit, laoreet sem in, lobortis
														                                                                mauris hendrerit ante.</p>
												</div>
											</div>
											<!-- End Single List  -->

										</div>
									</div>
								</div>
								<!-- End Skill List Area  -->
							</div>
						</div>
					</div>
					<!-- End Single Tab  -->
				</div>
			</div>
		</div>
	</div>
</main>
<!-- End Resume Area -->

{% endblock %}
