{% extends 'base.html.twig' %}

{% block title %}{{ title ?? 'Portfolio Alexandre Bourlier' }}{% endblock %}

{% block body %}
    <main class="main-page-wrapper">
        <div id="particles-js"></div>
        <!-- Start Slider Area -->
        <section id="home" class="rn-slide-area">
            <div class="slide slider-style-3">
                <div class="container">
                    <div class="row slider-wrapper">
                        <div class="order-2 order-xl-1 col-lg-12 col-xl-5 mt_lg--50 mt_md--50 mt_sm--50">
                            <div class="slider-info">
                                <div class="row">
                                {% for user in users %}
                                    <article class="col-xl-12 col-lg-12 col-12">
                                        <div class="user-info-top">
                                            <div class="user-info-header">
                                                <div class="user">
                                                    <i data-feather="user"></i>
                                                </div>
                                                <h2 class="title">
                                                    Bonjour ! Je suis
                                                    <span>{{ user.firstname}} {{ user.lastname }}</span>
                                                </h2>
                                                <p class="disc">{{ user.aPropos }}</p>
                                            </div>
                                            <div class="user-info-footer">
                                                <div class="info">
                                                    <i data-feather="file"></i>
                                                    <span>{{ user.poste }}</span>
                                                </div>
                                                <div class="info">
                                                    <i data-feather="mail"></i>
                                                    <span>{{ user.email }}</span>
                                                </div>
                                                <div class="info">
                                                    <i data-feather="map-pin"></i>
                                                    <span>{{ user.city }}, 37</span>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                {% endfor %}
                                    <article class="col-xl-12 col-lg-12 col-12">
                                        <div class="user-info-bottom">
                                            <span>Télécharger mon CV ou contactez-moi pour discuter de votre projet !</span>
                                            </span>
                                            <div class="button-wrapper d-flex mt-4">
                                                <a class="rn-btn mr--30" href="#contacts">
                                                    <span>TÉLÉCHARGER MON CV</span>
                                                </a>
                                                <a class="rn-btn" href="#contacts">
                                                    <span>CONTACTEZ-MOI</span>
                                                </a>
                                            </div>
                                        </div>
                                    </article>

                                </div>
                            </div>
                        </div>

                        <article class="order-1 order-xl-2 col-lg-12 col-xl-7">
                            <div class="background-image-area">
                                <div class="thumbnail-image">
                                    <img src={{ asset("/assets/images/slider/alex.png") }} alt="Personal Portfolio">
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Slider Area -->
        <!-- Back to  top Start -->
        {% include  'partials/backToTop.html.twig'  %}
        <!-- Back to top end -->
    </main>
{% endblock %}
