<!-- Start Modal Area  -->
<div class="demo-modal-area">
        <div class="wrapper">
            <div class="close-icon">
                <button class="demo-close-btn"><span class="feather-x"></span></button>
            </div>
            <div class="rn-modal-inner">
                <div class="demo-top text-center">
                    <h4 class="title">InBio</h4>
                    <p class="subtitle">Its a personal portfolio template. You can built any personal website easily.</p>
                </div>
                <ul class="popuptab-area nav nav-tabs" id="popuptab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active demo-dark" id="demodark-tab" data-bs-toggle="tab" href="#demodark" role="tab" aria-controls="demodark" aria-selected="true">Dark Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link demo-light" id="demolight-tab" data-bs-toggle="tab" href="#demolight" role="tab" aria-controls="demolight" aria-selected="false">Light Demo</a>
                    </li>
                </ul>
                <div class="tab-content" id="popuptabContent">
                    <div class="tab-pane show active" id="demodark" role="tabpanel" aria-labelledby="demodark-tab">
                        <div class="content">
                            <div class="row">

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="{{path('app_home')}}">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/main-demo.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="{{path('app_home')}}">Main Demo</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-2">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/index-technician.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Technician</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-2">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-model-v2.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Model</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-1">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-consulting.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Consulting</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-1">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/fashion-designer.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Fashion Designer</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/developer.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Developer</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/instructor-fitness.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Fitness Instructor</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->
                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-1">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-model.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Web Developer</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-video.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Designer</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/text-rotet.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Content Writter</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/index-boxed.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Instructor</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-sticky.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Freelancer</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/index-bg-image.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Photographer</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/front-end.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Politician</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo coming-soon">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/coming-soon.png") }} alt="Personal Portfolio">
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Accountant</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" id="demolight" role="tabpanel" aria-labelledby="demolight-tab">
                        <div class="content">
                            <div class="row">

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/main-demo-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Main Demo</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-2">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/index-technician-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Technician</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-2">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-model-v2-white.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Model</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-1">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-consulting-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Consulting</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-1">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/fashion-designer-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Fashion Designer</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/developer-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Developer</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->
                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/instructor-fitness-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Fitness Instructor</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->
                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner badge-1">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-model-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Web Developer</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-video-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Designer</a>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/text-rotet-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Content
                                                        Writter</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/index-boxed-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Instructor</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/home-sticky-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Freelancer</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/index-bg-image-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Photographer</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/front-end-white-version.png") }} alt="Personal Portfolio">
                                                    <span class="overlay-content">
                                                        <span class="overlay-text">View Demo <i class="feather-external-link"></i></span>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Politician</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                                <!-- Start Single Content  -->
                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="single-demo coming-soon">
                                        <div class="inner">
                                            <div class="thumbnail">
                                                <a href="#">
                                                    <img class="w-100" src={{ asset("/assets/images/demo/coming-soon.png") }} alt="Personal Portfolio">
                                                </a>
                                            </div>
                                            <div class="inner">
                                                <h3 class="title"><a href="#">Accountant</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Content  -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Modal Area  -->