<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="robots" content="noindex, follow">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/vendor/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('css/vendor/slick.css') }}">
			<link rel="stylesheet" href="{{ asset('css/vendor/slick-theme.css') }}">
			<link rel="stylesheet" href="{{ asset('css/vendor/aos.css') }}">
			<link rel="stylesheet" href="{{ asset('css/plugins/feature.css') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}

		
	</head>

	<body class="template-color-1 spybody" data-spy="scroll" data-bs-target=".navbar-example2" data-offset="150" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
		{% include 'partials/header.html.twig' %}
		{% block body %}{% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
            <script src="{{ asset('js/vendor/jquery.js') }}"></script>
            <script src="{{ asset('js/vendor/bootstrap.js') }}"></script>

            <script src="{{ asset('js/vendor/jquery-one-page-nav.js') }}"></script>

            <script src="{{ asset('js/vendor/feather.min.js') }}"></script>
            <script src="{{ asset('js/vendor/slick.min.js') }}"></script>
            <script src="{{ asset('js/vendor/aos.js') }}"></script>
            <script src="{{ asset('js/vendor/wow.js') }}"></script>
            <script src="{{ asset('js/vendor/particles.js') }}"></script>

            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
		{{ render(path('app_footer')) }}

<!-- script Start -->
{% include  'partials/script.html.twig'  %}
<!-- script end -->

<script>
	particlesJS('particles-js', {
"particles": {
"number": {
"value": 20,
"density": {
"enable": true,
"value_area": 800
}
},
"color": {
"value": ["#ffffff",]
},
"shape": {
"type": "circle",
"stroke": {
"width": 0,
"color": "#000000"
},
"polygon": {
"nb_sides": 4
},
"image": {
"src": "img/github.svg",
"width": 100,
"height": 100
}
},
"opacity": {
"value": 0.8,
"random": true,
"anim": {
"enable": false,
"speed": 1,
"opacity_min": 0.1,
"sync": false
}
},
"size": {
"value": 4,
"random": true,
"anim": {
"enable": false,
"speed": 40,
"size_min": 0.1,
"sync": false
}
},
"line_linked": {
"enable": false,
"distance": 150,
"color": "#ffffff",
"opacity": 0.4,
"width": 1
},
"move": {
"enable": true,
"speed": 6,
"direction": "none",
"random": false,
"straight": false,
"out_mode": "out",
"attract": {
"enable": false,
"rotateX": 600,
"rotateY": 1200
}
}
},
"interactivity": {
"detect_on": "canvas",
"events": {
"onhover": {
"enable": true,
"mode": "repulse"
},
"onclick": {
"enable": true,
"mode": "push"
},
"resize": true
},
"modes": {
"grab": {
"distance": 400,
"line_linked": {
"opacity": 1
}
},
"bubble": {
"distance": 800,
"size": 40,
"duration": 2,
"opacity": 8,
"speed": 3
},
"repulse": {
"distance": 200
},
"push": {
"particles_nb": 4
},
"remove": {
"particles_nb": 2
}
}
},
"retina_detect": true,
"config_demo": {
"hide_card": false,
"background_color": "#b61924",
"background_image": "",
"background_position": "50% 50%",
"background_repeat": "no-repeat",
"background_size": "cover"
}
});
</script>

	</body>
</html>
